<app-container pageTitle="{{articles[0].title}} {{articles[0].url}}" title="Changes">
  <div class="article-container">
    <mat-table #table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="transaction">
        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
        <mat-cell *matCellDef="let article">
          <a class="btn btn-primary btn-xs" href="{{getTransactionUrl(article)}}" target="_blank">
            <i class="fa fa-copy"></i> Transaction </a>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="timestamp">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Date Time </mat-header-cell>
        <mat-cell *matCellDef="let article"> {{article.timestamp ? article.timestamp.format('L LT') : null}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="user">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Changed By </mat-header-cell>
        <mat-cell *matCellDef="let article">
          <a href="{{getUserUrl(article)}}" target="_blank">{{article.user}}</a>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="revision_old">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Old Id </mat-header-cell>
        <mat-cell *matCellDef="let article">
          <a href="{{getRevisionOldUrl(article)}}" target="_blank">{{article.revision_old}}</a>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="revision_new">
        <mat-header-cell *matHeaderCellDef mat-sort-header> New Id </mat-header-cell>
        <mat-cell *matCellDef="let article">
          <a href="{{getRevisionNewUrl(article)}}" target="_blank">{{article.revision_new}}</a>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="comment">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Comment </mat-header-cell>
        <mat-cell *matCellDef="let article"> {{article.comment}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
</app-container>