<div class="">
  <div class="page-title">
    <div class="title_left">
      <h3>{{articles[0].title}} {{articles[0].url}}</h3>
    </div>
  </div>

  <div class="clearfix"></div>
  <div class="row">
    <div class="col-md-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Changes</h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <table class="table table-striped projects">
                <thead>
                  <tr>
                    <th style="width: 250px;">Date Time</th>
                    <th>Changed By</th>
                    <th style="width: 10%">Old Id</th>
                    <th style="width: 10%">New Id</th>
                    <th>Comment</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let article of articles">
                    <td>{{article.timestamp ? article.timestamp.format('L LT') : null}}</td>
                    <td>{{article.user}}</td>
                    <td>{{article.revision_old}}</td>
                    <td>{{article.revision_new}}</td>
                    <td>{{article.comment}}</td>
                  </tr>
                </tbody>
              </table>
        </div>
      </div>
    </div>
  </div>
</div>