<table class="table table-striped projects">
  <thead>
    <tr>
      <th style="width: 2%"></th>
      <th style="width: 1%">ID</th>
      <th style="width: 20%">Article Name</th>
      <th>Article URL</th>
      <th>Most recent change</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let article of articles">
      <td>
        <a class="btn btn-primary btn-xs" [routerLink]="['/article', article.id]">
          <i class="fa fa-folder"></i> View </a>
      </td>
      <td>{{article.id}}</td>
      <td>{{article.title}}</td>
      <td>
        <a href="{{article.url}}" target="_blank">{{article.url}}</a>
      </td>
      <td>
        <span *ngIf="isTimestampBetween(article, 0, 24)" class="btn btn-success btn-xs">Within 24h</span>
        <span *ngIf="isTimestampBetween(article, 24, 48)" class="btn btn-warning btn-xs">Within 48h</span>
        <span *ngIf="isTimestampBetween(article, 48)" class="btn btn-danger btn-xs">> 48h</span>
      </td>
    </tr>
  </tbody>
</table>