<div class="article-list-container">
  <mat-table #table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="view">
      <mat-header-cell *matHeaderCellDef> </mat-header-cell>
      <mat-cell *matCellDef="let article">
        <a class="btn btn-primary btn-xs" [routerLink]="['/article', article.id]">
          <i class="fa fa-folder"></i> View </a>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
      <mat-cell *matCellDef="let article"> {{article.id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Article Name </mat-header-cell>
      <mat-cell *matCellDef="let article"> {{article.title}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="url">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Article URL </mat-header-cell>
      <mat-cell *matCellDef="let article">
        <a href="{{article.url}}" target="_blank">{{article.url}}</a>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="mostRecentChange">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Most recent change </mat-header-cell>
      <mat-cell *matCellDef="let article">
        <span *ngIf="isTimestampBetween(article, 0, 24)" class="btn btn-success btn-xs">Within 24h</span>
        <span *ngIf="isTimestampBetween(article, 24, 48)" class="btn btn-warning btn-xs">Within 48h</span>
        <span *ngIf="isTimestampBetween(article, 48)" class="btn btn-danger btn-xs">> 48h</span>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>